.page-header
  %h1 New Sketch

%form.form{:action => '/sketches', :method => 'POST'}
  .control-group
    %label.control-label{:for => "title"} Title
    .controls
      %input.span10{:name => 'title', :type => "text"}
  .control-group
    %label.control-label{:for => "content"} Code
    .controls
      %textarea.span10{:name => "content", :rows => 10}
  .control-group
    .controls
      %button.btn.btn-primary{:type => "submit"} Save
      %a.btn{ :href => url("/") } Cancel
