body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.table td.span0,
.table th.span0 {
  float: none;
  width: 22px;
  margin-left: 0;
}

.well-transparent {
  min-height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border: none;
}